# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# OS Files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data
*.csv
*.xlsx
*.h5
*.zip
